# Purpose

This notebook is a stand-in for a web application (e.g. distributed with AWS S3) that calls a web service (e.g. AWS API Gateway + Lambda), which queries DynamoDB for the data. Response is in real-time because the pre-computed results are stored in DynamoDB and the clients only have to present it. The service component is exemplified by `boto3` calling DynamoDB and `pandas` and Python being used to format it. The web application component is exemplified by Jupyter's built-in rendering capabilities for tables, `matplotlib` for plot generation, and `ipywidgets` for user interaction.

# Setup

## Imports

In [24]:
import boto3
import matplotlib.pyplot as plt
import pomegranate as pg
import ipywidgets as widgets
import pandas as pd
from IPython.display import Markdown, display, clear_output
import numpy as np
import datetime

In [25]:
dynamodb_resource = boto3.resource('dynamodb')
dynamodb_client = boto3.client('dynamodb')

# 2

# 2.1

> For each airport X, rank the top-10 carriers in decreasing order of on-time departure performance from X.

> Provide the results using the following airport codes.
> 
> * SRQ
> * CMH
> * JFK
> * SEA
> * BOS

In [26]:
def get21(airport): 
    table = dynamodb_resource.Table('ccc2-2-1')
    response = table.get_item(Key={'key': airport})
    return pd.DataFrame(response['Item']['value'])[['UniqueCarrier', 'Delay', 'Count']]

airport_text = widgets.Text(placeholder='Airport X')
display(airport_text)
button = widgets.Button(description="Submit")
display(button)

def on_button_clicked(b):
    clear_output()
    display(airport_text)
    display(button)
    display(Markdown('### ' + airport_text.value))
    display(get21(airport_text.value))

button.on_click(on_button_clicked)

Text(value='', placeholder='Airport X')

Button(description='Submit', style=ButtonStyle())

In [27]:
for airport in ['SRQ', 'CMH', 'JFK', 'SEA', 'BOS']:
    display(Markdown('### ' + airport))
    display(get21(airport))

### SRQ

  UniqueCarrier                 Delay  Count
0            TZ  -0.38199697428139184   1322
1            XE    1.4897667777248929   2101
2            YV    3.4040219378427787   1094
3            AA    3.6334985133795836  10090
4            UA    3.9521220624342335   5702
5            US    3.9683982896741536  20347
6            TW    4.3046760650181035  12981
7            NW     4.856359241353663  10756
8            DL    4.8691794341573456  53195
9            MQ     5.350588235294118    425

### CMH

  UniqueCarrier               Delay   Count
0            DH   3.491114701130856    4952
1            AA  3.5139262599083705   41253
2            NW  4.0415550052579805   58958
3        ML (1)   4.366459627329193    1288
4            DL   4.713441339740944   75119
5            PI  5.2012948793407885    1699
6            EA   5.937389380530973    4520
7            US   5.993296353520258  118443
8            TW   6.159097425311084   34878
9            YV  7.9611913357400725    1108

### JFK

  UniqueCarrier               Delay   Count
0            UA   5.968325364871665   95376
1            XE   8.113736263736264    1820
2            CO   8.201208081649657    4801
3            DH   8.742980908069951   12466
4            AA  10.080735583893281  222789
5            B6  11.127096222728753  245680
6        PA (1)  11.523478655767484   44040
7            NW  11.637817716512535   17193
8            DL  11.986673184147481  186166
9            TW  12.639071414087718  182471

### SEA

  UniqueCarrier               Delay   Count
0            OO  2.7058196546578555   28146
1            PS   4.720639332870048    1439
2            YV   5.122262773722627     548
3            TZ   6.345003933910307    2542
4            US   6.412384182257776   61627
5            NW   6.498762407390315  119183
6            DL    6.53562132870614  140618
7            HA   6.855452674897119    3888
8            AA   6.939152588687252  124426
9            CO   7.096458868617853   69667

### BOS

  UniqueCarrier               Delay   Count
0            TZ  3.0637920850561136    3386
1        PA (1)   4.447164795047816   25201
2        ML (1)   5.734775641025641    1248
3            EV   7.208137715179968     639
4            NW   7.245188786506978  143363
5            DL   7.445339060304795  372972
6            XE    8.10292249047014    2361
7            US   8.687922116917663  472914
8            AA   8.733506415381084  252674
9            EA   8.891433950423595   28683

# 2.2

> For each airport X, rank the top-10 airports in decreasing order of on-time departure performance from X.

> Provide the results using the following airport codes.
> 
> * SRQ
> * CMH
> * JFK
> * SEA
> * BOS

In [28]:
def get22(airport): 
    table = dynamodb_resource.Table('ccc2-2-2')
    response = table.get_item(Key={'key': airport})
    return pd.DataFrame(response['Item']['value'])[['Dest', 'Delay', 'Count']]

airport_text = widgets.Text(placeholder='Airport X')
display(airport_text)
button = widgets.Button(description="Submit")
display(button)

def on_button_clicked(b):
    clear_output()
    display(airport_text)
    display(button)
    display(Markdown('### ' + airport_text.value))
    display(get22(airport_text.value))

button.on_click(on_button_clicked)

Text(value='', placeholder='Airport X')

Button(description='Submit', style=ButtonStyle())

In [29]:
for airport in ['SRQ', 'CMH', 'JFK', 'SEA', 'BOS']:
    display(Markdown('### ' + airport))
    display(get22(airport))

### SRQ

  Dest               Delay  Count
0  EYW                   0      1
1  TPA  1.3288513253937764   2603
2  IAH  1.4445574771108851   2949
3  MEM  1.7029598308668077    946
4  FLL                   2      1
5  BNA  2.0623145400593472    337
6  MCO   2.364537698870187   8674
7  RDU   2.535400709882309   5353
8  MDW   2.838123554674595   3027
9  CLT   3.358363542206111  15448

### CMH

  Dest               Delay Count
0  AUS                  -5     3
1  OMA                  -5     1
2  SYR                  -5     1
3  MSN                   1     2
4  CLE    1.10498687664042  7239
5  SDF  1.3529411764705883   119
6  CAK   3.700394218134034   761
7  SLC  3.9392857142857145   560
8  MEM   4.152021563342318  5565
9  IAD   4.158103448275862  5800

### JFK

  Dest               Delay Count
0  SWF               -10.5     2
1  ANC                   0    27
2  MYR                   0     1
3  ISP                   0     1
4  ABQ                   0     1
5  UCA  1.9170124481327802   241
6  BGR   3.210280373831776   214
7  BQN   3.606227610912097  3629
8  CHS     4.4027105517909  1033
9  STT   4.492768477394375  8781

### SEA

  Dest               Delay  Count
0  EUG                   0      1
1  PIH                   1      1
2  PSC  2.6505190311418687   2023
3  CVG   3.878744557801027  15389
4  MEM    4.26022369800769  11444
5  CLE  5.1701694915254235   2950
6  BLI   5.198249133685938   5483
7  YKM   5.379647749510763    511
8  SNA   5.406250794054123  39355
9  LIH   5.481081081081081    370

### BOS

  Dest               Delay   Count
0  SWF                  -5       1
1  ONT                  -3       2
2  GGG                   1       2
3  AUS  1.2087076710435383    1447
4  LGA   3.054017857142857  165760
5  MSY  3.2464678178963893     637
6  LGB   5.136176772867421    3892
7  OAK   5.783210035381152    3109
8  MDW   5.895637536821433    7129
9  BDL   5.982704848313014    3527

# 2.3

> For each source-destination pair X-Y, rank the top-10 carriers in decreasing order of on-time arrival performance at Y from X.

> Provide the results using the following routes.
> 
> * LGA → BOS
> * BOS → LGA
> * OKC → DFW
> * MSP → ATL

In [30]:
def get23(x, y): 
    table = dynamodb_resource.Table('ccc2-2-3')
    response = table.get_item(Key={'key': x + '-' + y})
    return pd.DataFrame(response['Item']['value'])[['UniqueCarrier', 'Delay', 'Count']]

x_text = widgets.Text(placeholder='Airport X')
display(x_text)
y_text = widgets.Text(placeholder='Airport Y')
display(y_text)
button = widgets.Button(description="Submit")
display(button)

def on_button_clicked(b):
    clear_output()
    display(x_text)
    display(y_text)
    display(button)
    display(Markdown('### ' + x_text.value + ' -> ' + y_text.value))
    display(get23(x_text.value, y_text.value))

button.on_click(on_button_clicked)

Text(value='', placeholder='Airport X')

Text(value='', placeholder='Airport Y')

Button(description='Submit', style=ButtonStyle())

In [31]:
for airports in [['LGA', 'BOS'], ['BOS', 'LGA'], ['OKC', 'DFW'], ['MSP', 'ATL']]:
    display(Markdown('### ' + airports[0] + ' -> ' + airports[1]))
    display(get23(*airports))

### LGA -> BOS

  UniqueCarrier                Delay  Count
0            TW                   -3      1
1            US  -2.9042429927168394  36248
2        PA (1)  -0.4187248422203449  20123
3            DL    1.747324224799532  87171
4            EA   4.8213728549141965   7692
5            MQ    9.866226864577607  16371
6            NW   14.444444444444445    747
7            OH   27.984848484848484     66
8            AA                 28.5      2

### BOS -> LGA

  UniqueCarrier               Delay  Count
0            TW                 -11      1
1            US  1.0952367939223349  36593
2            DL  2.0246025602857993  83975
3        PA (1)   6.071749550629119  20028
4            EA   9.480668069437138   7604
5            MQ  12.643273798785255  16629
6            NW   15.22985468956407    757
7            AA                  28      6
8            OH  30.448275862068964     29
9            TZ                 133      1

### OKC -> DFW

  UniqueCarrier                Delay  Count
0            TW  0.10124333925399645   1126
1            EV    1.358974358974359   1911
2            AA    4.570106940850489  43669
3            MQ    4.675752473163545   9502
4            DL   6.7315385583092215  15898
5            OO   12.835087719298246    570
6            OH                 47.5      2

### MSP -> ATL

  UniqueCarrier              Delay  Count
0            EA          4.2015625    640
1            OO              4.766   1000
2            FL  6.292677547419497   9068
3            DL   6.34326262780406  32765
4            NW  7.015818604943707  31798
5            OH  8.303473491773309    547
6            EV  10.12092731829574   3192

# 2.4

> For each source-destination pair X-Y, determine the mean arrival delay (in minutes) for a flight from X to Y.

> Provide the results using the following routes.
> 
> * LGA → BOS
> * BOS → LGA
> * OKC → DFW
> * MSP → ATL

In [32]:
def get24(x, y): 
    table = dynamodb_resource.Table('ccc2-2-4')
    response = table.get_item(Key={'key': x + '-' + y})
    return pd.DataFrame(response['Item']['value'])[['Delay', 'Count']]

x_text = widgets.Text(placeholder='Airport X')
display(x_text)
y_text = widgets.Text(placeholder='Airport Y')
display(y_text)
button = widgets.Button(description="Submit")
display(button)

def on_button_clicked(b):
    clear_output()
    display(x_text)
    display(y_text)
    display(button)
    display(Markdown('### ' + x_text.value + ' -> ' + y_text.value))
    display(get24(x_text.value, y_text.value))

button.on_click(on_button_clicked)

Text(value='', placeholder='Airport X')

Text(value='', placeholder='Airport Y')

Button(description='Submit', style=ButtonStyle())

In [33]:
df = pd.DataFrame(columns=['X', 'Y', 'Delay', 'Count'])
for airports in [['LGA', 'BOS'], ['BOS', 'LGA'], ['OKC', 'DFW'], ['MSP', 'ATL']]:
    result = get24(*airports)
    df.loc[len(df)] = [airports[0], airports[1], result.loc[0]['Delay'], result.loc[0]['Count']]
display(df)

     X    Y               Delay   Count
0  LGA  BOS  1.4838648387077622  168421
1  BOS  LGA  3.7841181478417854  165623
2  OKC  DFW   4.969055284955558   72678
3  MSP  ATL   6.737007973674219   79010

# 3.2

> Tom wants to travel from airport X to airport Z. However, Tom also wants to stop at airport Y for some sightseeing on the way. More concretely, Tom has the following requirements (for specific queries, see the Task 1 Queries and Task 2 Queries)
> 
> a) The second leg of the journey (flight Y-Z) must depart two days after the first leg (flight X-Y). For example, if X-Y departs on January 5, 2008, Y-Z must depart on January 7, 2008.
> 
> b) Tom wants his flights scheduled to depart airport X before 12:00 PM local time and to depart airport Y after 12:00 PM local time.
> 
> c) Tom wants to arrive at each destination with as little delay as possible. You can assume you know the actual delay of each flight.
> 
> Your mission (should you choose to accept it!) is to find, for each X-Y-Z and day/month (dd/mm) combination in the year 2008, the two flights (X-Y and Y-Z) that satisfy constraints (a) and (b) and have the best individual performance with respect to constraint (c), if such flights exist.

> Provide the results using the following routes and start dates. Dates are in dd/mm/yyyy format.
> 
> * BOS → ATL → LAX, 03/04/2008
> * PHX → JFK → MSP, 07/09/2008
> * DFW → STL → ORD, 24/01/2008
> * LAX → MIA → LAX, 16/05/2008

In [34]:
def get32(x, y, z, date): 
    table = dynamodb_resource.Table('ccc2-3-2')
    response = table.get_item(Key={'key': x + '-' + y + '-' + z + '-' + str(date)})
    return pd.DataFrame(list(response['Item']['value'].values()), index=list(response['Item']['value'].keys())).transpose() \
            [["TotalArrDelay", "X", "FlightDate1", "UniqueCarrier1", "FlightNum1", "CRSDepTimeHour1", "CRSDepTimeMinute1", "ArrDelay1", "Y", "FlightDate2", "UniqueCarrier2", "FlightNum2", "CRSDepTimeHour2", "CRSDepTimeMinute2", "ArrDelay2", "Z"]]

x_text = widgets.Text(placeholder='Airport X')
display(x_text)
y_text = widgets.Text(placeholder='Airport Y')
display(y_text)
z_text = widgets.Text(placeholder='Airport Z')
display(z_text)
date_picker = widgets.DatePicker(
    description='Date',
    disabled=False,
    value=datetime.datetime.strptime('2008-01-01', "%Y-%m-%d").date()
)
display(date_picker)
button = widgets.Button(description="Submit")
display(button)

def on_button_clicked(b):
    clear_output()
    display(x_text)
    display(y_text)
    display(z_text)
    display(date_picker)
    display(button)
    display(Markdown('### ' + x_text.value + ' -> ' + y_text.value + ' -> ' + z_text.value + ', ' + str(date_picker.value)))
    display(get32(x_text.value, y_text.value, z_text.value, date_picker.value))

button.on_click(on_button_clicked)

Text(value='', placeholder='Airport X')

Text(value='', placeholder='Airport Y')

Text(value='', placeholder='Airport Z')

DatePicker(value=datetime.date(2008, 1, 1), description='Date')

Button(description='Submit', style=ButtonStyle())

In [35]:
for combo in [['BOS', 'ATL', 'LAX', '2008-04-03'], \
              ['PHX', 'JFK', 'MSP', '2008-09-07'], \
              ['DFW', 'STL', 'ORD', '2008-01-24'], \
              ['LAX', 'MIA', 'LAX', '2008-05-16']]:
    display(Markdown('### ' + combo[0] + ' -> ' + combo[1] + ' -> ' + combo[2] + ', ' + str(combo[3])))
    display(get32(*combo))

### BOS -> ATL -> LAX, 2008-04-03

,TotalArrDelay,X,FlightDate1,UniqueCarrier1,FlightNum1,CRSDepTimeHour1,CRSDepTimeMinute1,ArrDelay1,Y,FlightDate2,UniqueCarrier2,FlightNum2,CRSDepTimeHour2,CRSDepTimeMinute2,ArrDelay2,Z
0,5,BOS,2008-04-03,FL,270,6,0,7,ATL,2008-04-05,FL,40,18,52,-2,LAX

### PHX -> JFK -> MSP, 2008-09-07

,TotalArrDelay,X,FlightDate1,UniqueCarrier1,FlightNum1,CRSDepTimeHour1,CRSDepTimeMinute1,ArrDelay1,Y,FlightDate2,UniqueCarrier2,FlightNum2,CRSDepTimeHour2,CRSDepTimeMinute2,ArrDelay2,Z
0,-42,PHX,2008-09-07,B6,178,11,30,-25,JFK,2008-09-09,NW,609,17,50,-17,MSP

### DFW -> STL -> ORD, 2008-01-24

,TotalArrDelay,X,FlightDate1,UniqueCarrier1,FlightNum1,CRSDepTimeHour1,CRSDepTimeMinute1,ArrDelay1,Y,FlightDate2,UniqueCarrier2,FlightNum2,CRSDepTimeHour2,CRSDepTimeMinute2,ArrDelay2,Z
0,-19,DFW,2008-01-24,AA,1336,7,5,-14,STL,2008-01-26,AA,2245,16,55,-5,ORD

### LAX -> MIA -> LAX, 2008-05-16

,TotalArrDelay,X,FlightDate1,UniqueCarrier1,FlightNum1,CRSDepTimeHour1,CRSDepTimeMinute1,ArrDelay1,Y,FlightDate2,UniqueCarrier2,FlightNum2,CRSDepTimeHour2,CRSDepTimeMinute2,ArrDelay2,Z
0,-9,LAX,2008-05-16,AA,280,8,20,10,MIA,2008-05-18,AA,456,19,30,-19,LAX